*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 1600px;
  margin: 0 auto;
}
.container:after,
.container:before {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
